
#logo{
  height:100%;
}
#pic_logo{
  display:block;
  margin:0 auto;
}
#mainFAlistContainar{
  margin: 0px auto;
  width: 745px;
  background-color: #000;
  color: #FFF;
}

#listContainar{
  width:100%;
  height: 4.6%;

}
#listContent {
  display:inline-block;
}
#listContent span{
  position: absolute;
}
.thumbnail {
    width: 150px;
    height: 100px;
    margin-left: 28px;
}
.item{
  display: inline-block;
  width: 200px;
  margin-left: 30px;
}
.FAname {
    text-align: center;
}
.team{
  position: relative;
  left: 2.5%;
  display:inline-block;
  margin: -0.5%;
  width: 15%;
  height: 100%;
margin-right: 4%;
}
.team:hover{
  background-image: url(../../img/goldBar2.png);
}
#Others:hover{
  background-image: url(../../img/redBar.png);
}
#Lost:hover{
  background-image: url(../../img/brownsBar.png);
}

.member{
    position: relative;
    border: solid 1px #f1f1f1;
}

.upper{
    top:10px;
}

.under{
    top:30px;
}

#name{
  left:54px;
}

#twitterid{
  left:54px;
}
a{
    color:rgb(80,55,237);
}
a:hover{
  color:rgb(198,67,54);
}

.machine{
  right:15px;
}
#emblem{
  position: absolute;
  left: 195px;
}
#constel{
  top:35px;
  left: 195px;
  font-size: small;
}
#username {
    float: right;
}
