#view{
  width: 100%;
  height: 500px;
}
#thumbnail > img{
  position: relative;
  left: 8%;
  width: 120px;
  height: 100px;
}
.thumbnails {
    width: 150px;
    height: 100px;
}
#detail_title{
  position: relative;
  width:100%;
  height:35px;
  background-color: #333;
}

#detail_title > span{
  display: inline-block;
  position: relative;
  top: 25%;
}
#FAinfo{
  left:5%;
}

#back{
  width: 25px;
      height: 30px;
      position: absolute;;
      top: 2px;
}
#back:hover{
  background-color:rgba(74,70,73,0.7);
}
