body{
margin:0;
background-image:url("bg/bg.png");
background-position:center center;
background-repeat:no-repeat;
background-attachment: fixed;
background-size: cover;
background-color:#000000;
color:#f8f8f8;
}

#navibar{
height:43px;
width:100%;
background-color:rgba(0,0,0,0.3);
}

.app_buttons{
display:inline-block;
height:30px;
width:35px;
margin-top:10px;
margin-right:5%;
}
.app_buttons:hover{
opacity: 0.7;
}

#btn_app01{
margin-left:10px;
}

.status_icons{
display:inline-block;
height:20px;
width:25px;
margin-top:15px;
}
.status_icons:hover{
opacity: 0.7;
content: "文字列";
}

#wave{
position:absolute;
right:270px;
}

#user{
position:absolute;
right:100px;
top:4px;
height:40px;
width:152px;
cursor:default;
font-size:large;
font-weight: bold;
z-index:1;
overflow:hidden;
}
#user ul{
display:none;
margin-top: 1px;
margin-left: -10px;
}
#user li {
list-style: none;
margin-left:-30px;
padding-top:10px;
padding-bottom:10px;
padding-left: 10px;
color:#f8f8f8;
background-color:rgba(0,0,0,0.3);
}
#user li:hover {
background-color:rgba(50,50,50,1);
}
.login_later{
display:none;
}

#user_icon{
height:33px;
width:32px;
}

#clock{
position:absolute;
right:25px;
font-size:large;
font-weight: bold;
text-align:center;
line-height:21px;
}

#time{
    position: absolute;
    top: 0px;
    right: 52px;
}
#date{
    position: absolute;
    top: 18px;
    right: 0px;
}

#content{
position:absolute;
top:45px;
width:100%;
height:92%;
overflow:auto;
}

.footer{
position:absolute;
bottom:0;
left:0;
width:100%;
background-color:black;
text-align:center;
color:#f8f8f8;
}

@media screen and (max-width: 435px) {
body{
background-position:left top;
}

.app_buttons{
display:inline-block;
height:35px;
width:35px;
margin-top:5px;

}

.app_buttons:active{
opacity: 0.7;
}

#btn_app02{
margin-left:30px;
}

.staus_icons{
display:inline-block;
height:20px;
width:25px;
margin-top:15px;
}

.staus_icons:hover{
opacity: 0.7;
}

#wave{
right:55px;
}

#user{
left:0px;
}


#content{
position:absolute;
top:45px;
width:100%;
height:90%;
overflow:auto;
}

.twitter-timeline{
float:right;
margin-top:30px !important;
width:250px !important;
height:93% !important;
}

.footer{
position:absolute;
bottom:0;
left:0;
width:100%;
background-color:black;
text-align:center;
color:#f8f8f8;
}

@media screen and (max-width: 320px) {

.app_buttons{
height:35px;
margin-top:5px;
}
#btn_app02 {
 margin-left: 15px;
}

}

}
